{% extends 'base.html.twig' %}
{% form_theme formArticle 'bootstrap_4_layout.html.twig' %}

{% block body %}

<h1>Création d'un article</h1>


{{ form_start(formArticle) }}
{{ form_row(formArticle.title, {'attr':  {'placeholder' : "Titre"}}) }}
{{ form_row(formArticle.categories) }}

{{ form_row(formArticle.content, {'attr':  {'placeholder' : "Contenu de l'article"}}) }}
{{ form_row(formArticle.image,  {'attr':  {'placeholder' : "URL de l'image"}}) }}

<div class="mt-3">
<button type="submit" class="btn btn-success">

{% if editMode %}
Modifier l'article
{% else %}
Ajouter l'article
{% endif %}

</button>

</div>
{{ form_end(formArticle) }}

{% endblock  %}
