{% extends 'base.html.twig' %}

{% block body %}

	<article>
		<h2>{{ article.title }}</h2>
		<div class="metadata">ecrit le
			{{article.createdAt | date('d/m/Y')}}
			à
			{{article.createdAt | date('H:i')}}
			dans la catégorie
			{{article.categories.title}}</div>
		<div class="content">
			<img src="{{article.image}}" alt="">

			<hr>
			<p>{{ article.content }}</p>
		</div>
	</article>
	<hr>
	<section id="commentaires">
	<h1>{{ article.comments | length }} commentaires</h1>
		{% for comment in article.comments %}
			<div class="comment">
				<div class="row">
					<div class="col-2">
						{{comment.author}}
						(<small>

							{{comment.createdAt | date('d/m/Y à H:i')}}</small>)
					</div>
					<div class="col">
						{{comment.content}}
					</div>


				</div>
			</div>
		{% endfor %}
		<hr>
		<h2>Ajouter un commentaire</h2>
		{% if app.user %}

		{{ form_start(commentForm) }}

		{{ form_row(commentForm.author, {"label": "Auteur de l'article", 'attr': {'placeholder': "pseudo"}}) }}
		{{ form_row(commentForm.content, {"label": "Contenu du commentaire", 'attr': {'placeholder': "Votre commentaire"}}) }}
		<button type="submit" class="btn btn-success mt-3">Commenter !</button>

		{{ form_end(commentForm) }}
		{% else %}
			<h3>Vous devez vous connecter pour commenter l'article</h3>
			<a href="{{path ('security_login')}}" class="btn btn-warning"> Se connecter</a>
{% endif %}
	</section>


{% endblock %}
